=btn_hover
    &:hover
        background-color: gray
        transition: 0.5s all

*
    box-sizing: border-box
    padding: 0
    margin: 0
    border: 0

.wrapper
    margin: 0 auto
    max-width: 1440px
    position: relative

header
    display: flex
    justify-content: space-between
    position: absolute
    width: 100%
    height: 90px
    background: rgba(242, 120, 92, 0.7)
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5)
    padding: 0 120px 0 0
    z-index: 2

.label
    display: flex
    justify-content: space-around
    padding: 30px 0 29px 120px
    img
        display: block
        width: 30px
        height: 30px
        padding-right: 6px
    &_text
        font-family: 'Magra'
        font-style: normal
        font-weight: 600
        font-size: 32px
        line-height: 39px
        color: #FFFFFF

.menu
    display: flex
    justify-content: space-between
    list-style-type: none
    padding: 34px 42px
    &_item
        padding-right: 42px
        font-family: 'Red Hat Text'
        font-style: normal
        font-weight: 500
        font-size: 16px
        color: #FFFFFF
    &_link
        font-size: 16px
        text-decoration: none
        color: #fff

button
    margin-top: 24px
    width: 103px
    height: 41px
    background: #0D606F
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16)
    border-radius: 10px
    font-family: 'Red Hat Text'
    font-weight: 500
    font-size: 16px
    line-height: 21px
    color: #FFFFFF
    cursor: pointer
    +btn_hover

.preview

    padding: 122px 428px 221px 120px
    min-height: 800px
    background: url('../img/bg/main_bg.jpg') center (center / cover) no-repeat
    &_title
        font-family: 'Aleo'
        font-style: normal
        font-weight: 700
        font-size: 80px
        line-height: 96px
        color: #FFFFFF
    &_descr
        margin-top: 56px
        font-family: 'Aleo'
        font-style: italic
        font-weight: 700
        font-size: 20px
        line-height: 24px
        color: #FFFFFF

    form
        position: relative
        margin-top: 46px
        input
            display: block
            width: 892px
            height: 95px
            padding: 0 1.5em
            background: rgba(255, 255, 255, 0.7)
            border-radius: 16px
        input[type="text"]::-webkit-input-placeholder
            font-family: 'Aleo'
            color: #F2785C
            font-size: 24px
            padding: 32px 291px 41px 41px

        button
            position: absolute
            top: -5px
            right: 18px
            width: 228px
            height: 59px
            background: #0D606F
            box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16)
            border-radius: 10px
            font-family: 'Red Hat Text'
            font-weight: 500
            font-size: 24px
            color: #FFFFFF
            cursor: pointer
            +btn_hover

.steps
    min-height: 350px
    &_title
        margin-top: 80px
        font-family: 'Red Hat Text'
        font-weight: 500
        font-size: 40px
        line-height: 53px
        text-align: center
        color: #F2785C
        text-transform: uppercase
    &_blocks
        display: flex
        justify-content: space-between
        margin-top: 40px
        margin-left: 131px
        height: 154px
        width: 1177px
    &_square
        display: flex
        justify-content: center
        align-items: center
        width: 100px
        height: 100px
        background-color: #F2785C
        border-radius: 16px
        text-align: center
        margin: 0 auto
    &_descr
        margin-top: 30px
        font-family: 'Aleo'
        font-weight: 400
        font-size: 20px
        line-height: 24px
        color: #0D606F

.destinations
    min-height: 1042px
    &_title
        font-family: 'Red Hat Text'
        font-weight: 500
        font-size: 40px
        line-height: 53px
        color: #F2785C
        text-align: center
    img
        display: block
        margin: 0 auto
        margin-top: 46px
        width: 800px
        height: 800px
        border-radius: 16px
    &_btn
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: center
        margin-top: 84px
        background: #0D606F
        width: 228px
        height: 60px
        box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16)
        border-radius: 10px
        font-family: 'Red Hat Text'
        font-weight: 500
        font-size: 24px
        color: #FFFFFF
        .next
            padding-right: 10px

.stories
    min-height: 1270px

    &_title
        margin-top: 70px
        font-family: 'Red Hat Text'
        font-weight: 500
        font-size: 40px
        color: #F2785C
        text-align: center
    &_bl
        background: url('../img/bg/stories_bg.jpg') center (center / cover) no-repeat
        // position: absolute
        width: 100%
        // z-index: 1
        margin-top: 20px
    &_blocks
        display: flex
        flex-direction: column
        margin-top: 40px
        min-height: 1270px
        background: rgba(255, 255, 255, 0.7)
        z-index: 1

    &_block
        display: flex
        justify-content: center
        margin-top: 30px

        img
            border-radius: 16px
            filter: drop-shadow(0px 4px 4px #0D606F)
    &_descr
        width: 760px
        margin-left: 40px
    &_subtitle
        font-family: 'Aleo'
        font-weight: 400
        font-size: 35px
        line-height: 42px
        color: #0D606F
    &_text
        font-family: 'Aleo'
        font-style: normal
        font-weight: 400
        font-size: 20px
        line-height: 24px
        color: #0D606F
        margin-top: 24px
    &_btn
        margin-top: 40px
// footer
//     min-height: 61px
//     // background-color: green
//     position: relative
//     z-index: 2
//     margin-top: 100px
